{
  "extends": "eslint-config-airbnb",

  "rules": {
    "id-length": [2, {"properties": "never", "exceptions": ["x", "y", "_", "$", "s", "e", "i", "j", "k", "p", "c", "w", "h"]}],
    "no-console": 0,
    "indent": [2, 2, {"SwitchCase": 1}],
    "no-param-reassign": 0,
    "no-unused-expressions": [2, { "allowShortCircuit": true, "allowTernary": true }]
  },

  "globals": {
  }
}